/* Typography */


body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #37748b;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  color: #188578;
}

/* Color Scheme classes */
.color-primary {
  color: #4c5c63;
}
.color-links {
  color: #2a9d8f;
}
.color-accent {
  color: #e9c46a;
}
.color-background {
  color: #ffffff;
  background-color: #264653;
  padding: 2px 6px;
}
